<nav class="navbar navbar-light bg-light navbar-expand-md navbar-light sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand special" href="/home">Deck of Cards</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              
            </div>
        </div>
        
      </nav>
<div class="container-fluid padding top">
    <div class="row padding">
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-middle" [routerLink]="['/detail/S1']" src="../../assets/S1.jpg" alt="card">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-middle" [routerLink]="['/detail/H1']" src="../../assets/H1.jpg" alt="card">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-middle" [routerLink]="['/detail/C1']" src="../../assets/C1.jpg" alt="card">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-middle" [routerLink]="['/detail/D1']" src="../../assets/D1.jpg" alt="card">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid padding bottom">
    <div class="row padding">
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-middle" [routerLink]="['/detail/S1']" src="../../assets/S1.jpg" alt="card">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-middle" [routerLink]="['/detail/H1']" src="../../assets/H1.jpg" alt="card">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-middle" [routerLink]="['/detail/C1']" src="../../assets/C1.jpg" alt="card">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-middle" [routerLink]="['/detail/D1']" src="../../assets/D1.jpg" alt="card">
            </div>
        </div>
    </div>
    <div class="row padding">
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-middle" [routerLink]="['/detail/S1']" src="../../assets/S1.jpg" alt="card">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-middle" [routerLink]="['/detail/H1']" src="../../assets/H1.jpg" alt="card">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-middle" [routerLink]="['/detail/C1']" src="../../assets/C1.jpg" alt="card">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-middle" [routerLink]="['/detail/D1']" src="../../assets/D1.jpg" alt="card">
            </div>
        </div>
    </div>
    <div class="row padding">
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-middle" [routerLink]="['/detail/S1']" src="../../assets/S1.jpg" alt="card">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-middle" [routerLink]="['/detail/H1']" src="../../assets/H1.jpg" alt="card">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-middle" [routerLink]="['/detail/C1']" src="../../assets/C1.jpg" alt="card">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-middle" [routerLink]="['/detail/D1']" src="../../assets/D1.jpg" alt="card">
            </div>
        </div>
    </div>
    <div class="row padding">
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-middle" [routerLink]="['/detail/S1']" src="../../assets/S1.jpg" alt="card">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-middle" [routerLink]="['/detail/H1']" src="../../assets/H1.jpg" alt="card">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-middle" [routerLink]="['/detail/C1']" src="../../assets/C1.jpg" alt="card">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-middle" [routerLink]="['/detail/D1']" src="../../assets/D1.jpg" alt="card">
            </div>
        </div>
    </div>
    <div class="row padding">
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-middle" [routerLink]="['/detail/S1']" src="../../assets/S1.jpg" alt="card">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-middle" [routerLink]="['/detail/H1']" src="../../assets/H1.jpg" alt="card">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-middle" [routerLink]="['/detail/C1']" src="../../assets/C1.jpg" alt="card">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-middle" [routerLink]="['/detail/D1']" src="../../assets/D1.jpg" alt="card">
            </div>
        </div>
    </div>
</div>

