<div>
<h2>Deck of Cards</h2>
<img [routerLink]="['/detail/S1']" src="../../assets/S1.jpg" alt="card" height="380" width="320">
<img [routerLink]="['/detail/H1']" src="../../assets/H1.jpg" alt="card" height="380" width="320">
<img [routerLink]="['/detail/C1']" src="../../assets/C1.jpg" alt="card" height="380" width="320">
<img [routerLink]="['/detail/D1']" src="../../assets/D1.jpg" alt="card" height="380" width="320">
</div>
<div>
<img [routerLink]="['/detail/S1']" src="../../assets/S1.jpg" alt="card" height="380" width="320">
<img [routerLink]="['/detail/H1']" src="../../assets/H1.jpg" alt="card" height="380" width="320">
<img [routerLink]="['/detail/C1']" src="../../assets/C1.jpg" alt="card" height="380" width="320">
<img [routerLink]="['/detail/D1']" src="../../assets/D1.jpg" alt="card" height="380" width="320">

<img [routerLink]="['/detail/S1']" src="../../assets/S1.jpg" alt="card" height="380" width="320">
<img [routerLink]="['/detail/H1']" src="../../assets/H1.jpg" alt="card" height="380" width="320">
<img [routerLink]="['/detail/C1']" src="../../assets/C1.jpg" alt="card" height="380" width="320">
<img [routerLink]="['/detail/D1']" src="../../assets/D1.jpg" alt="card" height="380" width="320">

<img [routerLink]="['/detail/S1']" src="../../assets/S1.jpg" alt="card" height="380" width="320">
<img [routerLink]="['/detail/H1']" src="../../assets/H1.jpg" alt="card" height="380" width="320">
<img [routerLink]="['/detail/C1']" src="../../assets/C1.jpg" alt="card" height="380" width="320">
<img [routerLink]="['/detail/D1']" src="../../assets/D1.jpg" alt="card" height="380" width="320">

<img [routerLink]="['/detail/S1']" src="../../assets/S1.jpg" alt="card" height="380" width="320">
<img [routerLink]="['/detail/H1']" src="../../assets/H1.jpg" alt="card" height="380" width="320">
<img [routerLink]="['/detail/C1']" src="../../assets/C1.jpg" alt="card" height="380" width="320">
<img [routerLink]="['/detail/D1']" src="../../assets/D1.jpg" alt="card" height="380" width="320">

<img [routerLink]="['/detail/S1']" src="../../assets/S1.jpg" alt="card" height="380" width="320">
<img [routerLink]="['/detail/H1']" src="../../assets/H1.jpg" alt="card" height="380" width="320">
<img [routerLink]="['/detail/C1']" src="../../assets/C1.jpg" alt="card" height="380" width="320">
<img [routerLink]="['/detail/D1']" src="../../assets/D1.jpg" alt="card" height="380" width="320">
</div>